* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
h1 {
    color: yellow;
    text-decoration-color: blue;
    text-align: center;
    /* font-family: fantasy; */
    text-shadow:
    2px 2px 2px rgb(29, 29, 255),
    2px 2px 2px rgb(33, 33, 255);
}
body {
    background-color: #969696;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 10px 5px 5px blue;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}